*{
    margin: 0px;
    padding: 0px;
   
}
/* .box{
    width: 400px;
    background-color: lightblue;
}
@media (max-width:600px) {
   .box{
     width: 100%;
     height: 50px;
     background-color: lightcoral;
   }
}
@media (min-width:600px) and (max-width:800px) {
   .box{
     width: 100%;
     height: 30px;
     background-color: rgb(40, 13, 101);
   }
} */
 .container{
    border:1px solid black;
    padding: 5px;
    gap:1px;
    display: grid;
 
 }
 .box{
    background-color: gray;
    color: white;
    padding: 2px;
    height: 100px;
    font-size: 18px;
    border: 4px solid gray;
 }

@media (min-width:1200px) {
  .container{
    grid-template-columns: repeat(8,1fr);
  }
   .box{
     height: 300px;
    background-color: red;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .container{
    grid-template-columns: repeat(6,1fr);
  }
   .box{
    height: 200px;
    background-color: green;
  }
  .test{
    visibility: hidden;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .container{
    grid-template-columns: repeat(4,1fr);
  }
  .box{
    height: 50px;
    background-color: yellow;
  }
}
@media (min-width:576px) and (max-width:767px) {
  .container{
    grid-template-columns: repeat(2,1fr);
  }
   .box{
    height: 50px;
    background-color: chocolate;
  }
}

.child{
    height: 100px;
    width: 100vw;
    background-color: blueviolet;
    color: white;
    transition: all 5s ease-out 3s;

}
.child:hover{
    background-color: orange;
    /* width: 100vw; */
    /* height: 200px; */
    /* border-radius: 50%; */
    font-size: large;
}
